:root {
  --main-background-color: #fff;
  --main-color: #111;
  --table-alternate-color: #eee;
  --table-hover-color: #ddd;
  --link-color: rgb(0, 0, 238);
  --contrast-color: deeppink;

  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #111;
    --main-color: #eee;
    --table-alternate-color: #222;
    --table-hover-color: #333;
    --link-color: rgb(158, 158, 255);
  }
}

html,
body {
  color: var(--main-color);
  background-color: var(--main-background-color);
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 60ch;
  max-width: 60ch;
  font-family: system-ui, sans-serif;
  margin-block: 1rem;
}

h1 {
  color: var(--contrast-color);
  font-size: 1.25rem;
}

a {
  color: var(--link-color);
}

a > svg {
  color: var(--main-color);
}

.wrapper {
  display: flex;
  gap: 1rem;
}

button {
  visibility: hidden;
  display: inline-block;
  border: none;
  padding-inline: 1rem;
  margin: 0;
  text-decoration: none;
  background-color: dodgerblue;
  background-position-y: 50%;
  background-position-x: 15%;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  width: 8rem;
}

button:hover {
  background-color: var(--link-color);
}

button:active {
  transform: scale(0.99);
}

.ios {
  background-image: url(/share-ios.svg);
}

.others {
  background-image: url(/share-others.svg);
}

img {
  vertical-align: middle;
}

code,
label {
  color: var(--contrast-color);
}

code {
  font-size: 1rem;
  font-family: ui-monospace, monospace;
}

table {
  width: 100%;
  outline: solid 1px var(--table-alternate-color);
  outline-offset: -2px;
}

thead {
  background-color: var(--table-hover-color);
}

th {
  padding-block: 0.5rem;
}

td {
  padding-block: 0.25rem;
}

tbody > tr:nth-of-type(2n) {
  background-color: var(--table-alternate-color);
}

tbody > tr:hover {
  background-color: var(--table-hover-color);
}

footer {
  margin-block-start: 1rem;
}

.icon {
  filter: grayscale(1);
}

meter {
  display: block;
}

.meter {
  width: 80px;
  height: 8px;
  background: #555;
  border-radius: 4px;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.meter.green > span {
  background-color: green;
}

.meter.orange > span {
  background-color: orange;
}

.meter.red > span {
  background-color: red;
}
